<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">&nbsp;</h1>
                    <div class="coll2">
                        <img src="{{ site.url }}/assets/img/pingu-penguin.gif" style="border-radius: 100%" width="80%">

                        <br />
                        <a href="#research" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                    <div class="coll2">
                        <p class="intro-text" style="margin-bottom: 20px;">
                            thinking about nlp and efficient ml deployment 🤔
                        </p>
                        <ul class="list-inline social-buttons">
                            <li><a href=""><i class="fa fa-graduation-cap fa-fw"></i></a></li>
                            <li><a href="mailto:contact.me.maddox@gmail.com"><i class="fa fa-envelope fa-fw"></i></a>
                            </li>
                            <li><a href="">cv</a></li>
                            <li><a href="https://github.com/maddox-j"><i class="fa fa-github fa-fw"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/andrej-jovanovi%C4%87/"><i
                                        class="fa fa-linkedin fa-fw"></i></a>
                            </li>
                        </ul>
                        <br>
                        <p class="intro-text">
                            budding machine learning researcher;
                            member of the <a href="https://cohere.for.ai/"> cohere for ai</a> community.

                        </p>

                    </div>

                </div>
            </div>
        </div>
    </div>
</header>