<h2 style="text-align: center; margin-top: -150px;"> Research
    <details class="research_details">
        <summary> Read research overview</summary>
        <div class="research_details_text">
            <p>
                At present, my machine learning interests are centred around <em>distributed</em>,
                <em>privacy-preserving</em>, <em>efficient</em>
                and <em>collaborative</em> machine learning.
                In particular, I have a great affinity towards paradigms such as <em>federated learning</em> and
                <em>neural network compression</em>, and the interplay this has with optimisation theory. Generally
                speaking, the
                motivating factor for this is that
                I am circumspect towards the promise of centralised machine learning paradigms, which require enormous
                amounts of data and
                computational resources to achieve their state-of-the-art performance. Instead, I believe that there is
                much benefit to
                be derived from investigating alternate paradigms that can scale while promoting privacy inherently,
                supported by sound
                mathematical foundations.
                <br><br>
                If you find any of my research interesting, or you would like to collaborate on any ideas,
                please do not hesitate to reach out.

            </p>
        </div>
    </details>
</h2>

<script>
    $(document).ready(function () {
        $('#research_table').DataTable({
            "order": [[0, "desc"]],
            "aLengthMenu": [[15, -1], [15, "All"]],
            "pageLength": "15",
            dom: 'Bfrtip',
            buttons: [
                {
                    text: '🌀 deep learning',
                    action: function (e, dt, node, config) {
                        $(".dataTables_wrapper input").val(function () {
                            return this.value + "🌀";
                        });
                    }
                },
                {
                    text: '🗣️ nlp',
                    action: function (e, dt, node, config) {
                        $(".dataTables_wrapper input").val(function () {
                            return this.value + "🗣️";
                        });
                    }
                },
                {
                    text: '💻 open-source ML',
                    action: function (e, dt, node, config) {
                        $(".dataTables_wrapper input").val(function () {
                            return this.value + "💻";
                        });
                    }
                },
                {
                    text: '🌳 efficiency',
                    action: function (e, dt, node, config) {
                        $(".dataTables_wrapper input").val(function () {
                            return this.value + "🌳";
                        });
                    }
                },
                {
                    text: '🔖 position',
                    action: function (e, dt, node, config) {
                        $(".dataTables_wrapper input").val(function () {
                            return this.value + "🔖";
                        });
                    }
                },
                {
                    text: '📈 optimisation',
                    action: function (e, dt, node, config) {
                        $(".dataTables_wrapper input").val(function () {
                            return this.value + "📈";
                        });
                    }
                },
            ]
        });
    });

    // When the user clicks on <div>, open the popup
    function popup() {
        var popup = document.getElementById("myPopup");
        popup.classList.toggle("show");
    }
</script>

<table id="research_table" class="display" style="width:100%">
    <thead>
        <tr>
            <th>year</th>
            <th>title</th>
            <th>authors</th>
            <th>tags</th>
            <th>paper</th>
            <th>code</th>
            <th>misc</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="center">2025</td>
            <td>DES-LOC: Desynced Low Communication Adaptive Optimizers for Training Foundation Models
            </td>
            <td> iacob, sani, safaryan, giampouras, horváth, jovanović, kurmanji, aleksandrov, shen, qiu, lane</td>
            <td class="med">🌳📈</td>
            <td class="center"><a target="_blank" href="https://arxiv.org/abs/2505.22549">arxiv</a></td>
            <td class="big"></td>
            <td class="med">
            </td>
        </tr>
        <tr>
            <td class="center">2025</td>
            <td>Position: It's Time to Act on the Risk of Efficient Personalized Text Generation
            </td>
            <td> iofinova, jovanović, alistarh,</td>
            <td class="med">🔖</td>
            <td class="center"><a target="_blank" href="https://arxiv.org/abs/2502.06560">arxiv</a></td>
            <td class="big"></td>
            <td class="med">
            </td>
        </tr>
        <tr>
            <td class="center">2025</td>
            <td>Panza: Design and Analysis of a Fully-Local Personalized Text Writing Assistant
            </td>
            <td>nicolicioiu, iofinova, jovanović, kurtic, nikdan, panferov, markov, shavit, alistarh</td>
            <td class="med">💻🗣️🌀</td>
            <td class="center"><a target="_blank" href="https://openreview.net/forum?id=gsr3t360Xy">ICLR 2025 Workshop
                    on Foundation Models in the Wild</a></td>
            <td class="big"><a target="_blank" href="https://github.com/IST-DASLab/PanzaMail"><i
                        class="fa fa-github fa-fw"></i></a>
            <td class="med">
                <a target="_blank" href="https://www.youtube.com/watch?v=Yn96riyPx2k&t=28s"><i></i>bonus video</a>
            </td>
        </tr>
        <tr>
            <td class="center">2024</td>
            <td>Second-Order Optimisation and Imbalanced Class Distribution in Emotional Analysis
            </td>
            <td>jovanović</td>
            <td class="med">🌀📈</td>
            <td class="center"><a target="_blank"
                    href="https://www.mlmi.eng.cam.ac.uk/files/2023-2024/jovanovic_second-order_2024.pdf">MPhil Thesis @
                    Cambridge</a></td>
            <td class="big"><a></a>
            <td class="med">
                <a></a>
            </td>
        </tr>
        <tr>
            <td class="center">2023</td>
            <td>Rumour Detection in the Wild: A Browser Extension for Twitter
            </td>
            <td>jovanović & ross</td>
            <td class="med">💻🗣️🌀</td>
            <td class="center"><a target="_blank" href="https://openreview.net/forum?id=9akS9IBfKs">NLP-OSS @
                    EMNLP2023</a></td>
            <td class="big"><a target="_blank" href="https://github.com/maddox-j/rumour_detection_in_the_wild"><i
                        class="fa fa-github fa-fw"></i></a>
            <td class="med">
                <a target="_blank" href="https://aclanthology.org/2023.nlposs-1.15/"><i></i>ACL</a>
            </td>
        </tr>
        <tr>
            <td class="center">2023</td>
            <td>EDAC: Efficient Deployment of Audio Classification Models For COVID-19 Detection
            </td>
            <td>jovanović<sup>*</sup>, mihaly<sup>*</sup> & donaldson<sup>*</sup></td>
            <td class="med">🌳🌀</td>
            <td class="center"><a target="_blank" href="https://arxiv.org/abs/2309.05357">arxiv preprint</a></td>
            <td class="big"><a target="_blank" href="https://github.com/EDAC-ML4H/EDAC-ML4H"><i
                        class="fa fa-github fa-fw"></i></a>
            <td class="med">
                <div class="popup" onmouseover="popup()" onmouseout="popup()">More info...
                    <span class="popuptext" id="myPopup">Awarded second place IBM prize in MLP course awards at
                        UoE.</span>
                </div>
            </td>
        </tr>
    </tbody>

</table>

<style>
    .big {
        font-size: large;
        text-align: center;
    }

    .med {
        font-size: medium;
        text-align: center;
    }

    td {
        text-align: left;
    }

    .center {
        text-align: center;
    }

    .dt-button span {
        color: white;
        font-family: Lora, "Helvetica Neue", Helvetica, Arial, sans-serif;

    }
</style>
<style>
    .popup {
        position: relative;
        display: inline-block;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* The actual popup */
    .popup .popuptext {
        visibility: hidden;
        width: 160px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -80px;
    }

    /* Popup arrow */
    .popup .popuptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

    /* Toggle this class - hide and show the popup */
    .popup .show {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
    }

    /* Add animation (fade in the popup) */
    @-webkit-keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
</style>