<h2 style="text-align: center; margin-top: -150px;"> Research
    <details class="research_details">
        <summary> Read research overview</summary>
        <div class="research_details_text">
            <p>
                Coming soon...
            </p>
        </div>
    </details>
</h2>

<!--<table>-->
<!--    <tr>-->
<!--        <th>-->
<!--            <strong style="font-size:21px;"> interpretable ml </strong> <br/>-->
<!--            <a href="/blog/research/interp"> what is interpretability? </a> <br/>-->
<!--            <a href="/blog/research/interp_eval"> evaluating interpretability </a>-->
<!--        </th>-->
<!--&lt;!&ndash;        <th><strong style="font-size:21px;"> interpretability applications </strong></th>&ndash;&gt;-->
<!--        <th>-->
<!--            <strong style="font-size:21px;"> science </strong> <br/>-->
<!--            <a href="/blog/research/connectomics"> Connectomics</a> <br/>-->
<!--            <a href="/blog/research/neural_coding" > neural coding </a>-->
<!--        </th>-->
<!--&lt;!&ndash;        <th>&ndash;&gt;-->
<!--&lt;!&ndash;            <strong style="font-size:21px;"> ml theory </strong>&ndash;&gt;-->
<!--&lt;!&ndash;        </th>&ndash;&gt;-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <th><br/></th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <th><img src="{{ site.baseurl }}/assets/img/alexnet.png" class="research_thumb"></th>-->
<!--&lt;!&ndash;        <th><img src="{{ site.baseurl }}/assets/img/cosmo.png" class="research_thumb"></th>&ndash;&gt;-->
<!--        <th><img src="{{ site.baseurl }}/assets/img/neuron.gif" class="research_thumb"></th>-->
<!--&lt;!&ndash;        <th><img src="{{ site.baseurl }}/assets/img/complexity.png" class="research_thumb"></th>&ndash;&gt;-->
<!--    </tr>-->
<!--</table>-->

<!--<br/>-->

<script>
    // $(document).ready(function () {
    //     $('#research_table').DataTable({
    //         "order": [[0, "desc"]],
    //         "aLengthMenu": [[15, -1], [15, "All"]],
    //         "pageLength": "15",
    //         dom: 'Bfrtip',
    //         buttons: [
    //             {
    //                 text: '🔎 interpretability',
    //                 action: function (e, dt, node, config) {
    //                     $(".dataTables_wrapper input").val(function () {
    //                         return this.value + "🔎";
    //                     });
    //                     // $(".dataTables_wrapper input").submit();
    //                 }
    //             },
    //             {
    //                 text: '🌀 deep learning',
    //                 action: function (e, dt, node, config) {
    //                     $(".dataTables_wrapper input").val(function () {
    //                         return this.value + "🌀";
    //                     });
    //                     // $(".dataTables_wrapper input").val("🌀");
    //                 }
    //             },
    //             {
    //                 text: '🌳 interpretable models',
    //                 action: function (e, dt, node, config) {
    //                     $(".dataTables_wrapper input").val(function () {
    //                         return this.value + "🌳";
    //                     });
    //                     // $(".dataTables_wrapper input").val("🌳");
    //                 }
    //             },
    //             {
    //                 text: '💻 open-source ML',
    //                 action: function (e, dt, node, config) {
    //                     $(".dataTables_wrapper input").val(function () {
    //                         return this.value + "💻";
    //                     });
    //                     // $(".dataTables_wrapper input").val("💻");
    //                 }
    //             },
    //             {
    //                 text: '🧠',
    //                 action: function (e, dt, node, config) {
    //                     $(".dataTables_wrapper input").val(function () {
    //                         return this.value + "🧠";
    //                     });
    //                     // $(".dataTables_wrapper input").val("🧠");
    //                 }
    //             },
    //         ]
    //     });
    // });
</script>

<table id="research_table" class="display" style="width:100%">
    <thead>
        <tr>
            <th>year</th>
            <th>title</th>
            <th>authors</th>
            <th>tags</th>
            <th>paper</th>
            <th>code</th>
            <th>misc</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="center">'23</td>
            <td>Coming soon..
            </td>
            <td></td>
            <td class="med"></td>
            <td class="center"><a href=""></a></td>
            <td class="big"><a href=""><i></i></a></td>
            <td class="med">
            </td>
        </tr>
    </tbody>

</table>

<style>
    .big {
        font-size: large;
        text-align: center;
    }

    .med {
        font-size: medium;
        text-align: center;
    }

    td {
        text-align: left;
    }

    .center {
        text-align: center;
    }

    .dt-button span {
        color: white;
        font-family: Lora, "Helvetica Neue", Helvetica, Arial, sans-serif;

    }
</style>