<div class="container roww gallery-container">
    <!-- <div class="gallery">
        <a href="{{ site.baseurl }}/notes/edac.html">
            <img src="{{ site.baseurl }}/assets/img/pruning.gif" style="filter: invert()">
        </a>
        <div class="desc">edac - efficient deployment of audio classification models for covid-19 detection</div>
    </div>
    <div class="gallery">
        <a href="{{ site.baseurl }}/notes/recycled.html">
            <img src="{{ site.baseurl }}/assets/img/logo2.jpg" style="filter: invert()">
        </a>
        <div class=" desc">resnet reverse recycling machine
        </div>
    </div>
    <div class="gallery">
        <a target="_blank" href="https://github.com/maddox-j/justeatscycles-covid19">
            <img src="{{ site.baseurl }}/assets/img/just_eat.jpg">
        </a>
        <div class="desc">justeatcycles covid-19 analysis</div>
    </div> -->
    <style>
        .gallery-container .gallery {
            margin: 2px;
            /*border: 1px solid #ccc;*/
            float: left;
            width: 31%;
        }

        .gallery-container .gallery:hover {
            border: 1px solid #777;
        }

        .gallery-container .gallery img {
            width: 100%;
            border-radius: 5%;
            height: auto;
            /*hieght: 100px;*/
            /*width: 300px;*/
        }

        .gallery-container .desc {
            padding: 15px;
            text-align: center;
            font-size: medium;
        }

        @media (max-width: 991px) {
            .gallery-container .gallery {
                width: 48%;
            }
        }

        @media (max-width: 767px) {
            .gallery-container .gallery {
                width: 100%;
            }
        }
    </style>
</div>