<div class="container roww" style="margin-left: 9%; margin-right: 10%;">
    <div class="gallery">
        <a target="_blank" href="https://github.com/maddox-j/project-thola">
            <img src="{{ site.baseurl }}/assets/img/thola.png">
        </a>
        <div class="desc">twitter rumour detection browser extension</div>
    </div>
    <div class="gallery">
        <a href="{{ site.baseurl }}/notes/recycled.html">
            <img src="{{ site.baseurl }}/assets/img/logo2.jpg" style="filter: invert()">
        </a>
        <div class=" desc">resnet reverse recycling machine
        </div>
    </div>
    <div class="gallery">
        <a target="_blank" href="https://github.com/maddox-j/justeatscycles-covid19">
            <img src="{{ site.baseurl }}/assets/img/just_eat.jpg">
        </a>
        <div class="desc">justeatcycles covid-19 analysis</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="https://github.com/maddox-j/ilp">
            <img src="{{ site.baseurl }}/assets/img/ilp.png" style="filter: invert()">
        </a>
        <div class="desc">cost-constrained root finding</div>
    </div>
    <style>
        div.gallery {
            margin: 2px;
            /*border: 1px solid #ccc;*/
            float: left;
            width: 20%;
        }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 100%;
            border-radius: 5%;
            height: 230px;
            /*hieght: 100px;*/
            /*width: 300px;*/
        }

        div.desc {
            padding: 15px;
            text-align: center;
            font-size: medium;
        }
    </style>
</div>
<div>
    <p align="center">
        <i align="center">Additionally, I also provide <a href="{{ site.baseurl }}/notes/maths_tutoring.html"> private
                maths
                tutoring.</a>
        </i>
    </p>
    <a target="_blank" href="{{ site.baseurl }}/notes/maths_tutoring.html">
        <img style="display: block; margin-left: auto; margin-right: auto; border-radius: 5%; height: 230px;"
            src=" {{ site.baseurl }}/assets/img/maths.gif">
    </a>
</div>