<h2 align="center" style="margin-top: -150px;"> projects </h2>


{% include 02__gallery.html %}

</br>
</br>

<style>
    .colfull {
        float: left;
        width: 100%;
        padding-bottom: 5px;
        text-align: center;
    }

    .coll {
        float: left;
        width: 33.33%;
        padding-bottom: 50px;
        text-align: center;
    }

    .coll2 {
        float: left;
        width: 49.9%;
        padding-bottom: 50px;
        text-align: center;
    }

    .coll3 {
        float: left;
        width: 32.9%;
        padding-bottom: 50px;
        text-align: center;
    }

    .coll4 {
        float: left;
        width: 24.9%;
        padding-bottom: 50px;
        text-align: center;
    }

    .coll5 {
        float: left;
        width: 19.99%;
        padding-bottom: 50px;
    }

    .coll6 {
        float: left;
        width: 16.66%;
        padding-bottom: 50px;
    }

    .coll9 {
        float: left;
        width: 11.11%;
        padding-bottom: 50px;
    }

    .coll10 {
        float: left;
        width: 10%;
        padding-bottom: 50px;
    }


    /* Clear floats after the columns */
    .roww:after {
        content: "";
        display: table;
        clear: both;
    }

    .list-items {
        display: inline-block;
        text-align: left;
    }
</style>