<h2 align="center" style="margin-top: -150px;"> resources + posts </h2>

<!--{% comment %}-->
<!--{% include 02__carousel.html %}-->
<!--{% endcomment %}-->

{% include 02__gallery.html %}

</br>
</br>
<!--<div class="colfull">-->
<!--    <p align="text-center">-->
<!--        <i align="left">Some posts/slides organizing ml and ai research.</i>-->
<!--    </p>-->
<!--</div>-->

<div class="coll3">
    <h3 align="center">presentations</h3>
    <ul class="list-items">
        <li><a href="{{ site.baseurl }}/notes/cohere-federated-learning.html" style="font-size:medium">
                communication-efficient training for
                foundation models through federated learning. </a>
        </li>
        <li><a href="{{ site.baseurl }}/notes/rditw.html" style="font-size:medium"> rumour
                detection in the wild: a browser extension for twitter </a>
        </li>
        <li><a href="{{ site.baseurl }}/notes/why-greatness-cannot-be-planned.html" style="font-size:medium"> "why
                greatness cannot be planned" </a>
        </li>
    </ul>

</div>

<div class="coll3">
    <h3 align="center">teaching</h3>
    <ul class="list-items">
        <li><a href="{{ site.baseurl }}/notes/fl-dli.html" style="font-size:medium"> dli federated learning practical
            </a>
        </li>
        <li><a href="{{ site.baseurl }}/notes/ngram.html" style="font-size:medium"> n-gram language modelling
            </a>
        </li>
        <li><a href="{{ site.baseurl }}/notes/maths_tutoring.html" style="font-size:medium"> mathematics tutoring
            </a>
        </li>
    </ul>
</div>

<div class="coll3">
    <h3 align="center">miscellaneous projects</h3>
    <ul class="list-items">
        <li><a href="{{ site.baseurl }}/notes/ml-theory.html" style="font-size:medium"> community lead for ml theory at
                cohere labs
            </a>
        </li>
        <li><a href="{{ site.baseurl }}/notes/recycled.html" style="font-size:medium"> resnet reverse recycling
                machine
            </a>
        </li>
        <li><a target="_blank" href="https://github.com/maddox-j/justeatscycles-covid19" style="font-size:medium">
                justeatcycles covid-19 analysis
            </a>
        </li>
    </ul>

</div>
<style>
    .colfull {
        float: left;
        width: 100%;
        padding-bottom: 5px;
        text-align: center;
    }

    .coll {
        float: left;
        width: 33.33%;
        padding-bottom: 50px;
        text-align: center;
    }

    .coll2 {
        float: left;
        width: 49.9%;
        padding-bottom: 50px;
        text-align: center;
    }

    .coll3 {
        float: left;
        width: 32.9%;
        padding-bottom: 50px;
        text-align: center;
    }

    .coll4 {
        float: left;
        width: 24.9%;
        padding-bottom: 50px;
        text-align: center;
    }

    .coll5 {
        float: left;
        width: 19.99%;
        padding-bottom: 50px;
    }

    .coll6 {
        float: left;
        width: 16.66%;
        padding-bottom: 50px;
    }

    .coll9 {
        float: left;
        width: 11.11%;
        padding-bottom: 50px;
    }

    .coll10 {
        float: left;
        width: 10%;
        padding-bottom: 50px;
    }


    /* Clear floats after the columns */
    .roww:after {
        content: "";
        display: table;
        clear: both;
    }

    .list-items {
        display: inline-block;
        text-align: left;
    }
</style>