<h2 style="text-align: center;margin-top: -150px;"> experience </h2>

<ul class="timeline">
    <li>
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/jpmc.jpg" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <p>Summer 2023 - Summer 2023</p>
                <h4 class="subheading">jp morgan chase & co. <a href="https://sjmoran.github.io/">(Applied
                        Innovation of
                        Artificial Intelligence (AI<sup>2</sup>))</a></h4>
            </div>
            <div class="timeline-body">
                <p>Sitting within the applied AI research team, developed
                    unsupervised learning methods for anomaly detection, and assisted with a novel neural network
                    pruning scheme.</p>
            </div>
        </div>
    </li>

    <li>
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/jpmc.jpg" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <p>Summer 2022 - Summer 2022</p>
                <h4 class="subheading">jp morgan chase & co. <a href="https://sjmoran.github.io/">(Applied
                        Innovation of
                        Artificial Intelligence (AI<sup>2</sup>))</a></h4>
            </div>
            <div class="timeline-body">
                <p>Pursued personal research in Natural Language Processing, building a search engine, powered by dense
                    passage retrieval, with q&a capabilities. Assisted
                    researchers in delivering proof of concept projects, onboarding them to CI/CD platforms.</p>
            </div>
        </div>
    </li>
</ul>
<!--<hr>-->
</div>
</div>