<h2 style="text-align: center;margin-top: -150px;"> education </h2>

<ul class="timeline">
    <li>
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/cambridge.png" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <p>October 2023 - August 2024</p>
                <h4 class="subheading">the university of cambridge</h4>
            </div>
            <div class="timeline-body">
                <p>
                    (mphil) machine learning and machine intelligence, specialising in speech and language processing.
                </p>
            </div>
        </div>
    </li>
    <li>
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/edinburgh.jpg" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <p>Sept 2019 - May 2023</p>
                <h4 class="subheading">the university of edinburgh</h4>
            </div>
            <div class="timeline-body">
                <p>
                    bsc(hons) artificial intelligence and computer science
                </p>
            </div>
        </div>
    </li>
</ul>
<!--<hr>-->
</div>
</div>