<h2 style="text-align: center;margin-top: -150px;"> education </h2>

<ul class="timeline">
    <li>
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/cambridge.png" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <p>October 2025 - Present</p>
                <h4 class="subheading">the university of cambridge</h4>
            </div>
            <div class="timeline-body">
                <p>
                    <a target="_blank" href="https://www.cst.cam.ac.uk/">(phd) computer science</a> specialising
                    in federated (pre)training of large language models with, advised by <a target="_blank"
                        href="https://mlsys.cst.cam.ac.uk/">Nic Lane in the CaMLSys group</a>.
                </p>
            </div>
        </div>
    </li>
    <li>
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/cambridge.png" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <p>October 2023 - August 2024</p>
                <h4 class="subheading">the university of cambridge</h4>
            </div>
            <div class="timeline-body">
                <p>
                    <a target="_blank" href="https://www.mlmi.eng.cam.ac.uk/">(mphil) machine learning and machine
                        intelligence</a> specialising in speech and language processing.
                    Thesis exploring Second-order Optimisation and Imbalanced Class Distribution in Emotion Analysis
                    under the supervision of <a target="_blank" href="http://sunbrian.com/">Brian (Guangzhi) Sun</a>.
                </p>
            </div>
        </div>
    </li>
    <li>
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/edinburgh.jpg" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <p>Sept 2019 - May 2023</p>
                <h4 class="subheading">the university of edinburgh</h4>
            </div>
            <div class="timeline-body">
                <p>
                    bsc(hons) artificial intelligence and computer science. thesis completed under the supervision of <a
                        target="_blank" href="https://sweb.inf.ed.ac.uk/bross3/">björn ross</a>
                </p>
            </div>
        </div>
    </li>
</ul>
<!--<hr>-->
</div>
</div>