<h2 style="text-align: center; margin-top: -150px;"> collaboration
    <details class="research_details">
        <summary> view here</summary>
        <div class="research_details_text">
            <p>
                I have had the fortune to work with many kind and talented individuals throughout my young career. In
                particular,
                thank you to the following individuals for inspiring me (in no particular order):
                <br>
                <a target="_blank" href="https://www.santafe.edu/people/profile/alessandro-palmarini">alessandro
                    palmarini</a>
                <br>
                <a target="_blank" href="https://simon-yu.netlify.app/">simon yu</a>
                <br>
                <a target="_blank" href="https://nelaturuharsha.github.io/">sree harsha nelaturu</a>
            </p>
        </div>
    </details>
</h2>