<!--<head>-->
<script>
	(function () {
		var storedTheme = null;
		try {
			storedTheme = localStorage.getItem('theme-preference');
		} catch (e) {
			storedTheme = null;
		}

		var systemPrefersLight = window.matchMedia && window.matchMedia('(prefers-color-scheme: light)').matches;
		var resolvedTheme = storedTheme || (systemPrefersLight ? 'light' : 'dark');

		document.documentElement.setAttribute('data-theme', resolvedTheme);
	})();
</script>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="{{ site.description }}" />
<meta name="author" content="{{ site.author }}" />
<meta name="keywords" content="{{ site.keywords }}" />
<meta name="google-site-verification" content="534LWYsr2EASpM0PXsO5ryoE9hcXhM3U-_uxHVHa5j4" />
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel='shortcut icon' href='{{ site.baseurl }}/assets/img/codefavicon.ico' type='image/x-icon'>
<title>{{ site.title }}</title>

<!-- Bootstrap Core CSS -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!--    <link href="{{ site.baseurl }}/assets/css/bootstrap.min.css" rel="stylesheet">-->



<!-- Custom CSS -->
<link href="{{ site.baseurl }}/assets/css/grayscale.css" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/timeline.css" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/chandan.css" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/carousel.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="{{ site.baseurl }}/assets/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- Styling Tables -->
<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/chandan_tables.css" rel="stylesheet">

<!--</head>-->