<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
    {% include google_analytics.html %}
    <link href="{{ site.baseurl }}/assets/css/notes.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/highlight_androidstudio.css" rel="stylesheet">
    <script src="{{ site.baseurl }}/assets/js/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
        {% if page.video_embed_url %}
        <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "VideoObject",
            "name": {{ page.video_name | default: page.title | jsonify }},
            "description": {{ page.video_description | default: page.description | default: site.description | strip_html | strip_newlines | jsonify }},
            "thumbnailUrl": [{{ page.video_thumbnail | absolute_url | jsonify }}],
            "uploadDate": {{ page.video_upload_date | jsonify }},
            "embedUrl": {{ page.video_embed_url | jsonify }},
            "contentUrl": {{ page.video_content_url | default: page.video_embed_url | jsonify }},
            "publisher": {
                "@type": "Person",
                "name": {{ site.author | jsonify }},
                "url": {{ site.url | jsonify }}
            }
        }
        </script>
        {% endif %}
    <style>
        .markdown p,
        .markdown li,
        .markdown ul {
            font-size: large;
        }

        #markdown-toc {
            display: none;
        }

        .highlight {
            background-color: var(--surface-color);
            border-color: var(--surface-color);
        }
    </style>
</head>

<body id="page-top" data-spy="scroll" data-target=".sidebar">
    {% include navigation.html %}

    <div class="wrapper">
        <aside class="sidenav navbar">
            <div id="toc"></div>
        </aside>

        <main class="main">
            <div id="content" class="markdown">
                <h1 class="title">{{ page.title }}</h1>
                <a class="btn btn-success notes-source-link"
                    href="https://github.com/maddox-j/maddox-j.github.io/blob/main/{{ page.path }}">view markdown <i
                        class="fa fa-github fa-fw"></i></a>

                <div class="clearfix"></div>
                <hr>
                {{ page.content | markdownify }}
            </div>
        </main>
    </div>

    {% include js.html %}

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } });
        MathJax.Hub.Config({
            tex2jax: {
             inlineMath: [ ['$','$'], ["\\(","\\)"] ],
             processEscapes: true
            }
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.9/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
        type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#toc').toc();
        });
    </script>

</body>

</html>